apiVersion: apps/v1
kind: Deployment
metadata:
  name: gomanager-fe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      # PINNED TO SERVICES NODE GROUP
      nodeSelector:
        eks.amazonaws.com/nodegroup: services-2026011207041765490000000c
        tolerations:
      - key: "node.bth.dev/managed-only"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      containers:
      - name: frontend
        image: 975049918767.dkr.ecr.ap-southeast-3.amazonaws.com/bth-cloud/gomanager-fe:latest
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  annotations:
    alb.ingress.kubernetes.io/healthcheck-path: /
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80

---