@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import './base.css';

body {
  font-family: 'JetBrains Mono', monospace;
}

#app {
  min-height: 100vh;
}
